In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#https://drive.google.com/file/d/1N6-JyeuTMfImQTsADQzKN40VE77VI7GY/view?usp=sharing

SyntaxError: invalid syntax (<ipython-input-3-711224d28b71>, line 1)

In [4]:
#!pip install -q gdown
#!gdown https://drive.google.com/uc?id=1N6-JyeuTMfImQTsADQzKN40VE77VI7GY

In [5]:
df = pd.read_csv('bank-additional-full.csv')

In [6]:
df.head()

,age,job,marital,education,house_loan_flg,personal_loan_flg,contact_day_of_week,duration,current_campaign_contacts_cnt,last_contact_days,previous_campaign_contacts_cnt,previous_contact_result,consumer_price_index,consumer_confidence_index,y
0,45,blue-collar,married,basic.9y,yes,no,fri,297,1,999,0,nonexistent,93.918,-42.7,no
1,29,entrepreneur,married,high.school,yes,no,fri,668,2,999,0,nonexistent,93.918,-42.7,no
2,33,technician,married,basic.9y,yes,no,fri,436,4,999,0,nonexistent,93.918,-42.7,no
3,41,management,married,university.degree,yes,no,fri,1044,3,999,0,nonexistent,93.918,-42.7,no
4,30,services,divorced,high.school,yes,yes,fri,39,2,999,0,nonexistent,93.918,-42.7,no

#Краткое описание данных

Данные по результатам маркетинговой кампании - обзвона клиентов с предложением оформить вклад.

* age - возраст
* job - работа
* marital - семейное положение
* education - уровень образования
* house_loan_flg - факт наличие ипотеки у клиента
* personal_loan_flg - факт наличия кредита у клиента
* contact_day_of_week - день недели, в который клиенту звонили
* duration - длительность звонка (актуальна толко в том случае, если мы до клиента дозвонились)
* current_campaign_contacts_cnt - номер коммуникации с клиентом в рамках текущей маркетинговой кампании
* last_contact_days - сколько дней прошло с последнего контакта с клиентом
* previous_campaign_contscts_cnt - сколько коммуникаций с клиентом было в рамках предыдущих маркетинговых кампаний
* previous_contact_result - результат коммуникации в рампах предыдущей маркетинговой кампании
* consumer_price_index - индекс потребительских цет в месяц, когда была коммуникация с клиентом
* consumer_confidence_index - индекс потребительской уверенности в месяц, когда была коммуникация с клиентом
* y - целевая переменная. факт того, что на звонке клиент оформил вклад

#Домашнее задание

Построить модель, предсказывающую согласие клиента на продукт. Использовать логистическую регрессию.

Целевая переменная - факт того, что на звонке клиент оформил вклад.

1. Выполнить проверку переменных (минимум 3 шт), преобразовать их при необходимости - 3 балла

2. Построить на отобранных данных логистическую регрессию - 1 балл

3. Оценить качество модели, проверить ее на тестовой выборке - 1 балл

In [8]:
X = df.drop("y", axis=1)
y = df["y"]

In [9]:
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)